@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --darker-cyan: hsl(158, 36%, 20%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
}

body {
    font-family: 'Montserrat';
    font-weight: 500;
    height: 100vh;
    background-color: var(--cream);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
}

p {
    font-size: 14px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.centering-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 2rem;
}

.centering-container > * {
    margin-inline: auto;
}

.card {
    width: min(600px, 90%);
    display: grid;
}

.card__img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.card__info {
    background-color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 0 0 1rem 1rem;
}

.card__item-type {
    font-size: 12px;
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.card__header {
    color: var(--very-dark-blue);
    font-family: 'Fraunces';
    font-weight: 700;
    line-height: 1em;
}

.card__text {
    color: var(--dark-grayish-blue);
    line-height: 1.6em;
}

.card__price-block {
    display: flex;
    gap: 1rem;
    align-items: stretch;
}

.card__price {
    color: var(--dark-cyan);
    font-family: 'Fraunces';
    font-weight: 700;
    font-size: 2rem;
}

.card__old-price {
    color: var(--dark-grayish-blue);
    font-size: 14px;
    text-decoration: line-through;
    margin-block: auto;
}

.card__button {
    border: none;
    border-radius: 0.5rem;
    padding-block: 1rem;
    width: 100%;
    background-color: var(--dark-cyan);

    color: white;
    font-weight: 700;
    font-size: 14px;

    display: flex;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
}

.card__button:hover {
    background-color: var(--darker-cyan);
}

@media (min-width: 640px) {
    .centering-container {
        margin-block: 0;
    }
    .card {
        grid-template-columns: 1fr 1fr;
        height: fit-content;
    }
    .card__img {
        border-radius: 1rem 0 0 1rem;
    }
    .card__info {
        border-radius: 0 1rem 1rem 0;
    }
}
